@import 'tailwindcss';

@theme inline {
  --color-oceanGreen: #3d9970;
  --color-darkTeal: #013132;
  --color-slate: #4b5563;
  --color-paleGray: #f7f7f7;

  --text-7_5xl: 5.6rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
